/* html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: "EB Garamond", serif;
}

.gradient {
  background: rgb(6, 6, 6);
  background: linear-gradient(
    90deg,
    rgb(182, 182, 182) 0%,
    rgb(252, 252, 252) 50%
  );
}

.page-header {
  margin-top: 8rem;
  font-size: 1.5rem;
} */

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Noto+Serif";
  line-height: 20px;
  color: #f5f7f6;
  background-color: #ececf1;
}
a {
  color: black !important;
  font-weight: 750;
  font-size: 20px;
}
a:hover {
  color: #cea242 !important;
}
.header-background {
  position: static;
  display: block;
  overflow: visible;
  top: 0;
  height: auto;
  min-height: 750px;
  margin-bottom: 50px;
  padding-bottom: 70px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(247, 249, 252, 0.9))
  );
  background-image: linear-gradient(
      180deg,
      rgba(247, 249, 252, 0.1),
      rgba(247, 249, 252, 0.2)
    ),
    url(img/lex-sirikiat-EjbQQ0fgkFE-unsplash.jpg);
  flex-direction: column;
  background-position: 0px 0px, 100% 50%;
  background-size: auto, cover;
  white-space: normal;
  object-fit: fill;
  -o-object-fit: fill;
  /* -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column; */
}
.sticky-nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  padding: 4px;
  z-index: 1;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  /* background-color: rgba(97, 93, 90, 0.253);*/
}
/* .navbar .navbar-brand a {
  padding: 1rem 0;
  display: block;
  text-decoration: none;
}
.navbar-brand {
  font-size: 2.2rem;
  color: white;
} */
.navbar-toggler {
  border: none;
  padding: 10px 6px;
  outline: none;
}
.navbar-toggler span {
  display: block;
  width: 22px;
  height: 2px;
  border: 1px;
  background: white;
}
.navbar-toggler span + span {
  margin-top: 4px;
  width: 22px;
}
.navbar-toggler span + span + span {
  width: 22px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1.4rem 1rem;
  font-size: 1.2rem;
  position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link.active {
  color: #cea242 !important;
}
/* .btn {
  background-color: #e77265 !important;
  color: white;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
} */
.heading {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.4;
  text-align: right;
  color: rgb(29, 27, 27);
  margin-top: 180px;
  margin-bottom: 8px;
  min-height: 100px;
}
